
/* Tyylin määrittävät adjektiivit; kansainvälinen, avartava, sivistävä, toiminnallinen, virkistävä */
/* Värien koodit #F7D1CD, #E8C2CA, #EBE9E9, #6E7187 */
/* Fonttityylit Poppins & PT Serif  */

body {background-color:#EBE9E9; font-family: 'PT Serif', serif; font-size: 18px; display: flex;
flex-wrap: wrap; height: 100%; }

nav { width: 100%; }

header {
	width: 100%; font-family: 'Poppins', sans-serif; border-style: solid; border-width: 1px 1px 1px 1px; border-color: black; border-radius: 10px; background-color:#6E7187; color:white; 			 padding-left: 15px;}


h1, h2, h3, h4 {font-family: 'Poppins', sans-serif; }

section, article {
	border-style: none; border-width: 1px 1px 1px 1px; border-radius: 10px; padding-left: 15px; padding-right: 15px;
}

aside {
	border-style: solid; border-width: 1px 1px 1px 1px; border-color: black; border-radius: 10px; padding-left: 15px; padding-right: 15px;
}

form {
	max-width: 700px;
}

main { width: 80%; min-height: 40vw; }
aside { width: 20%; background-color: #E8C2CA;  }

footer {
	width: 100%; border-style: solid; border-width: 1px 1px 1px 1px; border-color: black; border-radius: 10px; background-color:#6E7187; color:white;  padding-left: 15px; }

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


#page-container {
	display: flex;
	flex-wrap: wrap;
	
	
}

@media only screen and (max-width: 600px) {
	main, aside { width: 100%; }
	
	
}
